/*
* Color variables
*/

:root {
  --color-white: #fff;
  --color-black: #000;

  --color-primary: #3ecf8e;
  --color-secondary: #ef5060;
  --color-background: #171717;

  --color-accent2: #5f6368;
  --color-accent3: #303134;
  --color-accent4: #8a8a8a;
  --color-accent5: #797979;
  --color-accent6: #0e0d0d;
  --color-accent7: #4a4a4a;

  --color-primary-hover: #2c9666;
  --color-secondary-hover: #ac3d48;

  // --color-accent2: #01575c; // event
  // --color-accent3: #ebf4d8; // hover
  // --color-accent4: #f2f6fc; // inactive
  // --color-accent5: #59ba89; // active (2)
}
